@use "../Fonts/Fonts.scss";

.mainFooter {
  .circle {
    border-radius: 25%;
    background-color: white;
    max-width: 10%;
    height: auto;
    

  }
  h3 {
    font-family: "Lobster", sans-serif;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 300;
    padding-top: 1em;
  }

  .container {
    background-color: #252525;
    p {
      text-align: center;
      font-family: "Open-sans", sans-serif;
      color: #727272;
      font-weight: light;
      padding: 0 0 1.2em 0;
    }
  }

  .shadow {
    padding: 1em 0 0.5em 0;
    background-color: #0e0e0e;
  }
}
