@use "../Partials/Fonts/Fonts.scss";

.thumbs-wrapper,
.axis-vertical,
.carousel-status {
  visibility: hidden;
  display: inline;
  position: absolute;
}

.parent {
  position: relative;
}

.div1 {
  position: relative;
}

.div1 .carousel .slide {
  position: relative;
}

.div2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.div2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.div3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list a {
  font-family: "Open-Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0 1em;
  font-size: 0.8em;
  font-weight: 300;
}

.nav-list h2 {
  font-family: "Lobster", sans-serif;
  font-size: 2.8em;
  margin: 0;
  padding: 0 1em;
  font-weight: 300;
  color: white;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 4vw;
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-list h2 {
    font-size: 1.5rem;
    padding: 0 1em;
  }
}

@media screen and (max-width: 480px) {
  .nav-list h2 {
    font-size: 1.2rem;
    padding: 0 0.5em;
  }
}
